/* Variables */
:root {
  --primary-bg-color: #000000;
  --secondary-bg-color: #171717;
  --primary-text-color: #ffffff;
}

/* Global Styles */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  max-width: 75rem;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  align-items: start;
  justify-content: start;
}

h4 {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.25rem;
  color: var(--primary-text-color);
}

a {
  color: #e0e0e0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

li { 
  font-size: 1rem;
  color: var(--primary-text-color);
  margin-bottom: 0.5rem;
}

li.square {
  list-style-type: square;
  margin-left: 1.5rem;
}

li.circle {
  list-style-type: circle;
  margin-left: 1.5rem;
}

/* Module Styles */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.buffer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.divider {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 1px;
  background-color: #eee;
  margin: 2rem auto;
}

.textContainer {
  max-width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.leftAlign {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.rightAlign {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: start;
  align-items: end;
}

.featuredProjects { 
  display: grid;
  gap: 2rem;
  justify-content: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.projectCard {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s ease;
  background-color: var(--secondary-bg-color);
}

.projectCard:hover {
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
	}

.projectCard p {
  color: #aaa;
}

.flushedTop {
  margin-top: 0 !important;
}

.flushedBottom {
  margin-bottom: 0 !important;
}

/* bug: width causes the page to expand -- will need to remove it */
.homeLink {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #0070f3;
  text-decoration: none;
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
}

/* Footer Styles */
.footer {
  border-top: 1px solid #eee;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 3rem; */
  margin-bottom: 1rem;
  background-color: var(--secondary-bg-color);
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}